/*
 * Copyright (c) CATIE 2023
 * SPDX-License-Identifier: Apache-2.0
 *
 * Overlay pour la zest core L4A6 couplé à une zest halfbridge.
 */

&i2c4 {
    status = "okay";
    pinctrl-0 = <&i2c4_scl_pc0 &i2c4_sda_pc1>;
    pinctrl-names = "default";

    mcp3425_zest_halfbridge: mcp3425@69 {
        compatible = "microchip,mcp3425";
        reg = <0x69>;
    };
};

/// {
//    aliases {
//        mcp3425_zest_halfbridge = &mcp3425;
//    };
//};
