/*
 * Copyright (c) CATIE 2023
 * SPDX-License-Identifier: Apache-2.0
 *
 * Overlay to use with the Zest_Actuator_HalfBridges board.
 * The MCP3425 will be available from the sixtron i2c bus.
 */

#include <zephyr/dt-bindings/adc/adc.h>

&sixtron_i2c {
    status = "okay";

    mcp3425: mcp3425@69 {
        compatible = "microchip,mcp3425";
        status = "okay";
        reg = <0x69>;
        //one_shot_mode; // uncomment if you want to use one shot mode instead of continuous mode.

        #io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;

        channel@1 {
            reg = <0x01>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_INTERNAL";
            zephyr,vref-mv = <2048>;
            zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
            zephyr,resolution = <12>;
        };
    };
};

/ {
    zephyr,user {
        io-channels = <&mcp3425 1>;
        io-channel-names = "A0";
    };

    voltage: voltage_divider {
        compatible = "voltage-divider";
        io-channels = <&mcp3425 1>;
        full-ohms = <(3000 + 91000)>;
        output-ohms = <3000>;
    };
};
